<a href="https://colab.research.google.com/github/ARYAA98/Smart_Location_Database_Analysis/blob/main/SmartLocation_Database_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing Necessary Libraries for the Analysis**

In [1]:
import pandas as pd               # for numerical and array operations
import numpy as np                # for data manipulation
import matplotlib.pyplot as plt   # for data visualization
%matplotlib inline
import seaborn as sns             # for data visualization

**Loading the Dataset**

In [2]:
# reading the dataset using pandas
Smart_location_df=pd.read_csv("/content/drive/MyDrive/EPA_SmartLocationDatabase_V3_Jan_2021_Final.csv")

In [3]:
# to view the dataset
Smart_location_df

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
0,1,4.811300e+11,4.811300e+11,48,113,7825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.184697,0.000476,0.137707,6,14,15,17,14.000000,3110.360820,2.978361e+05
1,2,4.811300e+11,4.811300e+11,48,113,7825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.323221,0.000801,0.231868,3,10,12,14,10.833333,3519.469110,4.849451e+05
2,3,4.811300e+11,4.811300e+11,48,113,7825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.314628,0.000736,0.213146,1,1,7,17,8.333333,1697.091802,1.067059e+05
3,4,4.811300e+11,4.811300e+11,48,113,7824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.229821,0.000708,0.205018,16,10,17,17,15.666667,2922.609204,4.818284e+05
4,5,4.811300e+11,4.811300e+11,48,113,7824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.164863,0.000433,0.125296,4,7,11,14,10.166667,3731.971773,6.876848e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220735,220736,7.803100e+11,7.803100e+11,78,30,961000,2,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,20,1,7.333333,3414.446949,3.355857e+05
220736,220737,7.803100e+11,7.803100e+11,78,30,961000,3,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,20,1,7.333333,2421.025608,2.924305e+05
220737,220738,7.803100e+11,7.803100e+11,78,30,961000,5,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,20,1,7.333333,1955.909418,1.619395e+05
220738,220739,7.803100e+11,7.803100e+11,78,30,960700,3,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,10,1,4.000000,16896.768870,1.038966e+07
220739,220740,7.803100e+11,7.803100e+11,78,30,960200,2,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,12,1,4.666667,3890.488237,6.114601e+05

**Exploring the Dataset**

In [4]:
# checking the column names
Smart_location_df.columns

Index(['OBJECTID', 'GEOID10', 'GEOID20', 'STATEFP', 'COUNTYFP', 'TRACTCE',
       'BLKGRPCE', 'CSA', 'CSA_Name', 'CBSA',
       ...
       'D5DRI', 'D5DE', 'D5DEI', 'D2A_Ranked', 'D2B_Ranked', 'D3B_Ranked',
       'D4A_Ranked', 'NatWalkInd', 'Shape_Length', 'Shape_Area'],
      dtype='object', length=117)

In [5]:
#to find the shape of the dataset
Smart_location_df.shape

(220740, 117)

In [6]:
# checking the datatypes and all the info about the dataset
Smart_location_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220740 entries, 0 to 220739
Columns: 117 entries, OBJECTID to Shape_Area
dtypes: float64(73), int64(42), object(2)
memory usage: 197.0+ MB

In [7]:
# for viewing the first 10 entries
Smart_location_df.head(10)

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
0,1,4.811300e+11,4.811300e+11,48,113,7825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.184697,0.000476,0.137707,6,14,15,17,14.000000,3110.360820,2.978361e+05
1,2,4.811300e+11,4.811300e+11,48,113,7825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.323221,0.000801,0.231868,3,10,12,14,10.833333,3519.469110,4.849451e+05
2,3,4.811300e+11,4.811300e+11,48,113,7825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.314628,0.000736,0.213146,1,1,7,17,8.333333,1697.091802,1.067059e+05
3,4,4.811300e+11,4.811300e+11,48,113,7824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.229821,0.000708,0.205018,16,10,17,17,15.666667,2922.609204,4.818284e+05
4,5,4.811300e+11,4.811300e+11,48,113,7824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.164863,0.000433,0.125296,4,7,11,14,10.166667,3731.971773,6.876848e+05
5,6,4.811300e+11,4.811300e+11,48,113,7827,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.189063,0.000467,0.135336,1,4,5,13,6.833333,3109.651786,2.051268e+05
6,7,4.811300e+11,4.811300e+11,48,113,9301,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.012107,0.000184,0.053166,1,1,10,13,8.000000,4345.799339,8.119811e+05
7,8,4.811300e+11,4.811300e+11,48,113,1102,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.375864,0.001031,0.298647,9,12,13,16,13.166667,2248.148479,2.589736e+05
8,9,4.811300e+11,4.811300e+11,48,113,11401,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000030,0.000005,0.001318,3,2,11,18,10.500000,8246.622195,2.479375e+06
9,10,4.811300e+11,4.811300e+11,48,113,11401,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000012,0.000006,0.001745,1,1,10,15,8.666667,3669.658355,7.574020e+05

In [8]:
#statistical info about the data
Smart_location_df.describe()

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CBSA,CBSA_POP,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
count,220740.000000,2.207390e+05,2.207400e+05,220740.000000,220740.000000,220740.000000,220740.000000,167709.000000,203645.000000,2.207400e+05,...,220740.000000,220740.000000,220740.000000,220740.000000,220740.000000,220740.000000,220740.000000,220740.000000,2.207400e+05,2.207400e+05
mean,110370.500000,2.870894e+11,2.870915e+11,28.623190,85.697449,262342.382110,2.221392,341.742661,30514.836210,3.607329e+06,...,-57326.486630,-57326.597590,-57326.483325,10.500000,10.500000,10.500000,7.624884,9.541628,1.655970e+04,4.466074e+07
std,63722.293548,1.640746e+11,1.640774e+11,16.386075,98.818946,351403.837442,1.195155,125.700068,10979.471375,5.219925e+06,...,49459.959391,49459.830782,49459.963223,5.766294,5.766294,5.766294,7.812853,4.373952,3.830373e+04,6.430513e+08
min,1.000000,1.001020e+10,1.001020e+10,1.000000,1.000000,100.000000,0.000000,104.000000,10100.000000,0.000000e+00,...,-99999.000000,-99999.000000,-99999.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.685713e+02,4.435890e+03
25%,55185.750000,1.312100e+11,1.312100e+11,13.000000,29.000000,10303.000000,1.000000,218.000000,19740.000000,2.053030e+05,...,-99999.000000,-99999.000000,-99999.000000,5.750000,5.750000,5.750000,1.000000,5.833333,3.271213e+03,4.985104e+05
50%,110370.500000,2.901900e+11,2.901900e+11,29.000000,61.000000,46298.000000,2.000000,361.000000,32820.000000,1.252890e+06,...,-99999.000000,-99999.000000,-99999.000000,10.500000,10.500000,10.500000,1.000000,9.166667,5.877323e+03,1.373918e+06
75%,165555.250000,4.200350e+11,4.200350e+11,42.000000,109.000000,482503.000000,3.000000,429.000000,39300.000000,4.673634e+06,...,0.142514,0.000354,0.161708,15.250000,15.250000,15.250000,16.000000,13.166667,1.596391e+04,9.413158e+06
max,220740.000000,7.803100e+11,7.803100e+11,78.000000,840.000000,993000.000000,9.000000,566.000000,49820.000000,1.931847e+07,...,1.000000,1.000000,1.000000,20.000000,20.000000,20.000000,20.000000,20.000000,3.925989e+06,1.641290e+11

In [9]:
#to check for any null values
pd.set_option('display.max_rows', 500)  # to see all the rows
print(Smart_location_df.isnull().sum())
pd.reset_option('display.max_rows')  # Reset to default after printing

OBJECTID            0
GEOID10             1
GEOID20             0
STATEFP             0
COUNTYFP            0
TRACTCE             0
BLKGRPCE            0
CSA             53031
CSA_Name        53031
CBSA            17095
CBSA_Name       17095
CBSA_POP            0
CBSA_EMP            0
CBSA_WRK            0
Ac_Total            0
Ac_Water            0
Ac_Land             0
Ac_Unpr             0
TotPop              0
CountHU           275
HH                275
P_WrkAge            0
AutoOwn0            0
Pct_AO0             0
AutoOwn1            0
Pct_AO1             0
AutoOwn2p           0
Pct_AO2p            0
Workers             0
R_LowWageWk         0
R_MedWageWk         0
R_HiWageWk          0
R_PCTLOWWAGE        0
TotEmp              0
E5_Ret              0
E5_Off              0
E5_Ind              0
E5_Svc              0
E5_Ent              0
E8_Ret              0
E8_off              0
E8_Ind              0
E8_Svc              0
E8_Ent              0
E8_Ed               0
E8_Hlth             0
E8_Pub              0
E_LowWageWk         0
E_MedWageWk         0
E_HiWageWk          0
E_PctLowWage        0
D1A               271
D1B                 0
D1C                 0
D1C5_RET            0
D1C5_OFF            0
D1C5_IND            0
D1C5_SVC            0
D1C5_ENT            0
D1C8_RET            0
D1C8_OFF          605
D1C8_IND            0
D1C8_SVC            0
D1C8_ENT            0
D1C8_ED             0
D1C8_HLTH           0
D1C8_PUB            0
D1D                 0
D1_FLAG             0
D2A_JPHH            0
D2B_E5MIX           0
D2B_E5MIXA          0
D2B_E8MIX           0
D2B_E8MIXA          0
D2A_EPHHM           0
D2C_TRPMX1          0
D2C_TRPMX2          0
D2C_TRIPEQ          0
D2R_JOBPOP          0
D2R_WRKEMP          0
D2A_WRKEMP          0
D2C_WREMLX          0
D3A                 0
D3AAO               0
D3AMM               0
D3APO               0
D3B                 0
D3BAO               0
D3BMM3              0
D3BMM4              0
D3BPO3              0
D3BPO4              0
D4A                 0
D4B025              0
D4B050              0
D4C                 0
D4D                 1
D4E                 1
D5AR                0
D5AE                0
D5BR                0
D5BE                0
D5CR                0
D5CRI               0
D5CE                0
D5CEI               0
D5DR                0
D5DRI               0
D5DE                0
D5DEI               0
D2A_Ranked          0
D2B_Ranked          0
D3B_Ranked          0
D4A_Ranked          0
NatWalkInd          0
Shape_Length        0
Shape_Area          0
dtype: int64

In [11]:
#to find the percentage of data that is missing
pd.set_option('display.max_rows', 500)                                            #to see all the values
print((Smart_location_df.isnull().sum()/(len(Smart_location_df)))*100)
pd.reset_option('display.max_rows')                                               # Reset to default after printing

OBJECTID         0.000000
GEOID10          0.000453
GEOID20          0.000000
STATEFP          0.000000
COUNTYFP         0.000000
TRACTCE          0.000000
BLKGRPCE         0.000000
CSA             24.024191
CSA_Name        24.024191
CBSA             7.744405
CBSA_Name        7.744405
CBSA_POP         0.000000
CBSA_EMP         0.000000
CBSA_WRK         0.000000
Ac_Total         0.000000
Ac_Water         0.000000
Ac_Land          0.000000
Ac_Unpr          0.000000
TotPop           0.000000
CountHU          0.124581
HH               0.124581
P_WrkAge         0.000000
AutoOwn0         0.000000
Pct_AO0          0.000000
AutoOwn1         0.000000
Pct_AO1          0.000000
AutoOwn2p        0.000000
Pct_AO2p         0.000000
Workers          0.000000
R_LowWageWk      0.000000
R_MedWageWk      0.000000
R_HiWageWk       0.000000
R_PCTLOWWAGE     0.000000
TotEmp           0.000000
E5_Ret           0.000000
E5_Off           0.000000
E5_Ind           0.000000
E5_Svc           0.000000
E5_Ent           0.000000
E8_Ret           0.000000
E8_off           0.000000
E8_Ind           0.000000
E8_Svc           0.000000
E8_Ent           0.000000
E8_Ed            0.000000
E8_Hlth          0.000000
E8_Pub           0.000000
E_LowWageWk      0.000000
E_MedWageWk      0.000000
E_HiWageWk       0.000000
E_PctLowWage     0.000000
D1A              0.122769
D1B              0.000000
D1C              0.000000
D1C5_RET         0.000000
D1C5_OFF         0.000000
D1C5_IND         0.000000
D1C5_SVC         0.000000
D1C5_ENT         0.000000
D1C8_RET         0.000000
D1C8_OFF         0.274078
D1C8_IND         0.000000
D1C8_SVC         0.000000
D1C8_ENT         0.000000
D1C8_ED          0.000000
D1C8_HLTH        0.000000
D1C8_PUB         0.000000
D1D              0.000000
D1_FLAG          0.000000
D2A_JPHH         0.000000
D2B_E5MIX        0.000000
D2B_E5MIXA       0.000000
D2B_E8MIX        0.000000
D2B_E8MIXA       0.000000
D2A_EPHHM        0.000000
D2C_TRPMX1       0.000000
D2C_TRPMX2       0.000000
D2C_TRIPEQ       0.000000
D2R_JOBPOP       0.000000
D2R_WRKEMP       0.000000
D2A_WRKEMP       0.000000
D2C_WREMLX       0.000000
D3A              0.000000
D3AAO            0.000000
D3AMM            0.000000
D3APO            0.000000
D3B              0.000000
D3BAO            0.000000
D3BMM3           0.000000
D3BMM4           0.000000
D3BPO3           0.000000
D3BPO4           0.000000
D4A              0.000000
D4B025           0.000000
D4B050           0.000000
D4C              0.000000
D4D              0.000453
D4E              0.000453
D5AR             0.000000
D5AE             0.000000
D5BR             0.000000
D5BE             0.000000
D5CR             0.000000
D5CRI            0.000000
D5CE             0.000000
D5CEI            0.000000
D5DR             0.000000
D5DRI            0.000000
D5DE             0.000000
D5DEI            0.000000
D2A_Ranked       0.000000
D2B_Ranked       0.000000
D3B_Ranked       0.000000
D4A_Ranked       0.000000
NatWalkInd       0.000000
Shape_Length     0.000000
Shape_Area       0.000000
dtype: float64

In [12]:
#to check for duplicates
pd.set_option('display.max_rows', 500)  #to see all the values
duplicates = Smart_location_df[Smart_location_df.duplicated()]
print(duplicates)
pd.reset_option('display.max_rows')  # Reset to default after printing

Empty DataFrame
Columns: [OBJECTID, GEOID10, GEOID20, STATEFP, COUNTYFP, TRACTCE, BLKGRPCE, CSA, CSA_Name, CBSA, CBSA_Name, CBSA_POP, CBSA_EMP, CBSA_WRK, Ac_Total, Ac_Water, Ac_Land, Ac_Unpr, TotPop, CountHU, HH, P_WrkAge, AutoOwn0, Pct_AO0, AutoOwn1, Pct_AO1, AutoOwn2p, Pct_AO2p, Workers, R_LowWageWk, R_MedWageWk, R_HiWageWk, R_PCTLOWWAGE, TotEmp, E5_Ret, E5_Off, E5_Ind, E5_Svc, E5_Ent, E8_Ret, E8_off, E8_Ind, E8_Svc, E8_Ent, E8_Ed, E8_Hlth, E8_Pub, E_LowWageWk, E_MedWageWk, E_HiWageWk, E_PctLowWage, D1A, D1B, D1C, D1C5_RET, D1C5_OFF, D1C5_IND, D1C5_SVC, D1C5_ENT, D1C8_RET, D1C8_OFF, D1C8_IND, D1C8_SVC, D1C8_ENT, D1C8_ED, D1C8_HLTH, D1C8_PUB, D1D, D1_FLAG, D2A_JPHH, D2B_E5MIX, D2B_E5MIXA, D2B_E8MIX, D2B_E8MIXA, D2A_EPHHM, D2C_TRPMX1, D2C_TRPMX2, D2C_TRIPEQ, D2R_JOBPOP, D2R_WRKEMP, D2A_WRKEMP, D2C_WREMLX, D3A, D3AAO, D3AMM, D3APO, D3B, D3BAO, D3BMM3, D3BMM4, D3BPO3, D3BPO4, D4A, D4B025, D4B050, D4C, D4D, D4E, D5AR, D5AE, ...]
Index: []

[0 rows x 117 columns]

In [13]:
# to check for the  unique values in the dataset
pd.set_option('display.max_rows', 500)  #to see all the values
print(Smart_location_df.nunique())
pd.reset_option('display.max_rows')  # Reset to default after printing

OBJECTID        220740
GEOID10          43064
GEOID20          43062
STATEFP             56
COUNTYFP           329
TRACTCE          23969
BLKGRPCE            10
CSA                175
CSA_Name           175
CBSA               938
CBSA_Name          938
CBSA_POP           936
CBSA_EMP           921
CBSA_WRK           922
Ac_Total        215248
Ac_Water         83028
Ac_Land         214514
Ac_Unpr         218040
TotPop            6407
CountHU           3137
HH                2822
P_WrkAge           948
AutoOwn0           972
Pct_AO0          61053
AutoOwn1          1330
Pct_AO1          91604
AutoOwn2p         2135
Pct_AO2p        104283
Workers           3314
R_LowWageWk        993
R_MedWageWk       1342
R_HiWageWk        2048
R_PCTLOWWAGE     63997
TotEmp            7840
E5_Ret            2117
E5_Off            2998
E5_Ind            3830
E5_Svc            4810
E5_Ent            2102
E8_Ret            2117
E8_off            2563
E8_Ind            3830
E8_Svc            3043
E8_Ent            2102
E8_Ed             2329
E8_Hlth           2887
E8_Pub            1683
E_LowWageWk       2775
E_MedWageWk       3710
E_HiWageWk        5341
E_PctLowWage     68263
D1A             218913
D1B             219577
D1C             215477
D1C5_RET        162281
D1C5_OFF        162867
D1C5_IND        191834
D1C5_SVC        208242
D1C5_ENT        147337
D1C8_RET        162281
D1C8_OFF        155809
D1C8_IND        191834
D1C8_SVC        195390
D1C8_ENT        147337
D1C8_ED          84440
D1C8_HLTH       165223
D1C8_PUB         38158
D1D             219642
D1_FLAG              2
D2A_JPHH        139133
D2B_E5MIX       174777
D2B_E5MIXA      174754
D2B_E8MIX       184680
D2B_E8MIXA      184609
D2A_EPHHM       212354
D2C_TRPMX1      214083
D2C_TRPMX2      207580
D2C_TRIPEQ      196055
D2R_JOBPOP      158587
D2R_WRKEMP      129720
D2A_WRKEMP      145967
D2C_WREMLX      134918
D3A             219790
D3AAO           113749
D3AMM           204040
D3APO           218775
D3B             218568
D3BAO            94279
D3BMM3          178544
D3BMM4          155943
D3BPO3          206328
D3BPO4          186941
D4A                894
D4B025           13957
D4B050           17910
D4C                916
D4D             101311
D4E              64267
D5AR            125976
D5AE            120648
D5BR             75722
D5BE             70682
D5CR            194216
D5CRI           198474
D5CE            193931
D5CEI           197901
D5DR             91890
D5DRI            92928
D5DE             91841
D5DEI            92937
D2A_Ranked          20
D2B_Ranked          20
D3B_Ranked          20
D4A_Ranked           9
NatWalkInd         115
Shape_Length    220738
Shape_Area      220738
dtype: int64

# DATA CLEANING

In [14]:
Smart_location_df=Smart_location_df.dropna()
Smart_location_df.shape                     # to check the shape of the dataset after removing null values

(167265, 117)

In [15]:
#to set the index to OBJECTID
Smart_location_df=Smart_location_df.set_index("OBJECTID")

In [24]:
Smart_location_df.head(10)     # to view first few values

,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,CBSA_Name,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,4.811300e+11,4.811300e+11,48,113,7825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,"Dallas-Fort Worth-Arlington, TX",...,0.184697,0.000476,0.137707,6,14,15,17,14.000000,3110.360820,2.978361e+05
2,4.811300e+11,4.811300e+11,48,113,7825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,"Dallas-Fort Worth-Arlington, TX",...,0.323221,0.000801,0.231868,3,10,12,14,10.833333,3519.469110,4.849451e+05
3,4.811300e+11,4.811300e+11,48,113,7825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,"Dallas-Fort Worth-Arlington, TX",...,0.314628,0.000736,0.213146,1,1,7,17,8.333333,1697.091802,1.067059e+05
4,4.811300e+11,4.811300e+11,48,113,7824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,"Dallas-Fort Worth-Arlington, TX",...,0.229821,0.000708,0.205018,16,10,17,17,15.666667,2922.609204,4.818284e+05
5,4.811300e+11,4.811300e+11,48,113,7824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,"Dallas-Fort Worth-Arlington, TX",...,0.164863,0.000433,0.125296,4,7,11,14,10.166667,3731.971773,6.876848e+05
6,4.811300e+11,4.811300e+11,48,113,7827,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,"Dallas-Fort Worth-Arlington, TX",...,0.189063,0.000467,0.135336,1,4,5,13,6.833333,3109.651786,2.051268e+05
7,4.811300e+11,4.811300e+11,48,113,9301,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,"Dallas-Fort Worth-Arlington, TX",...,0.012107,0.000184,0.053166,1,1,10,13,8.000000,4345.799339,8.119811e+05
8,4.811300e+11,4.811300e+11,48,113,1102,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,"Dallas-Fort Worth-Arlington, TX",...,0.375864,0.001031,0.298647,9,12,13,16,13.166667,2248.148479,2.589736e+05
9,4.811300e+11,4.811300e+11,48,113,11401,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,"Dallas-Fort Worth-Arlington, TX",...,0.000030,0.000005,0.001318,3,2,11,18,10.500000,8246.622195,2.479375e+06
10,4.811300e+11,4.811300e+11,48,113,11401,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,"Dallas-Fort Worth-Arlington, TX",...,0.000012,0.000006,0.001745,1,1,10,15,8.666667,3669.658355,7.574020e+05